* html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}
/** SuggestedBox */

/** Add css rules here for your application. */

.auto_suggest {
    z-index: 20;
    background-color: white;
    padding: 10px;
    width: 400px;
    height: 230px;
}

.original-token-input {
    width: 396px;
    border: 1px solid #8496ba;
    font-size: 12px;
    font-family: Verdana;
    padding: 4px 8px;
}

/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 400px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list-facebook {
    list-style-type: none;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
}

li.token-input-token-facebook {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
}


/**SCROLLSPY**/
.table-of-contents a.active{
	border-left: 2px solid #2196f3 !important;
}
.table-of-contents a:hover{
	border-left: 1px solid #2196f3 !important;
}
/**WINDOW**/
.material-window nav .nav-wrapper{
	width: 100% !important;
}
.material-window header, .material-window main{
	padding: 0px;
}
.material-window-maximize{
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	max-height: 100% !important;
}
.material-window-maximize{
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
}
/**SIDEBAR **/
.side-nav li{
	padding: 0px ;
}
nav .nav-wrapper .side-nav i{
	display: inline !important;
	vertical-align: middle;
}
.side-nav .collapsible-header{
	padding: 0px !important;
	margin: 0px !important;
}
 
nav .nav-wrapper .collapsible-body{
	padding: 0px !important;
}


.gwt-material-design-client-resources-MaterialCSS-collectionAvatarIcon{
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	background-color: #999;
	text-align: center;
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width : 992px) {
	header,main,footer {
		padding: 0 !important;
	}
}

@media only screen and (max-width : 992px) {
	main{
		padding-bottom: 70 !important;
	}
}

.sideBarBadge{
  height: 20px !important;
  line-height: 0 !important;
  padding: 10px !important;
  color: #fff !important;
  border-radius: 3px !important;
  font-size: 0.7em !important;
}
ul.side-nav .sideBarBadge{
  margin-top: 20px !important;
}
/** DROPDOWN **/

.dropdown-content {
	max-height: 70vh !important;
}

ul li button.btn-floating {
	opacity: 0;
}

div {
	-webkit-font-smoothing: antialiased;
}

.oldCheckBox input {
	position: initial !important;
	opacity: 0 !important;
}

.collection>li>div {
	overflow: auto;
}

.collection>li>div>div:first-child {
	float: left;
}

[type="checkbox"]:not (:checked ),[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

.badge>div:first-child {
	display: inline;
}

.collectionAvatarIcon {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	background-color: #999;
	text-align: center;
}

.collectionHeader {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 20px;
	font-size: 3em;
}

a,a:visited {
	color: rgba(0, 0, 0, 0.87);
}

.progress {
	background-color: #EBEEF1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
}

.progress div {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #0090D9;
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
}

.fullBackground {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
}

.floatingButtonsItem ul li div {
	transform: scale(0.4) translateY(40px);
	-moz-transform: scale(0.4) translateY(40px);
	-webkit-transform: scale(0.4) translateY(40px);
	opacity: 0;
	transition: 400ms all;
	-webkit-transition: 400ms all;
	-moz-transition: 400ms all;
	margin-bottom: -10px;
}

.floatingButtonsItem:hover ul li div {
	transform: scale(1) translateY(0px);
	-moz-transform: scale(1) translateY(0px);
	-webkit-transform: scale(1) translateY(0px);
	opacity: 1;
}

* {
	outline: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

a:hover,a:visited {
	text-decoration: none !important;
}

.showPanel {
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}

/**
*** Material Animations
**/
.materialScaleInitial,.pullInitial {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.materialScaleInitial {
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform-origin: 50% 10%;
	-webkit-transform-origin: 50% 10%;
	-moz-transform-origin: 50% 10%;
}

.materialScale {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}

.pullInitial {
	margin-top: 500px !important;
}

.pull {
	margin-top: -150px !important;
}

.disabled {
	background-color: #DFDFDF !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	color: #9F9F9F;
	cursor: default;
}

.disabled:hover {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}