* html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	line-height: 1.5;
  	font-family: "Roboto", sans-serif;
  	font-weight: normal;
  	color: rgba(0, 0, 0, 0.87);
}
.dropdown-content {
	max-height: 70vh !important;
}
ul li button.btn-floating{
	opacity: 0;
}
div{
  -webkit-font-smoothing: antialiased;
}
.oldCheckBox input{
	position: initial !important;
  	opacity: 0 !important;
}

.collection > li > div{
	overflow: auto;
}

.collection > li > div > div:first-child {
	float: left;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
 	position: absolute; 
	left: -9999px;
}

.badge > div:first-child{
	display: inline;
}

.collectionAvatarIcon{
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	background-color: #999;
	text-align: center;
}

.collectionHeader{
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 20px;
	font-size: 3em;
}

a, a:visited{
	color: rgba(0, 0, 0, 0.87);
}
.progress{
	background-color: #EBEEF1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
}

.progress div{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #0090D9;
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
}

.fullBackground{
-webkit-box-flex: 1;
-webkit-flex: 1 0 auto;
-ms-flex: 1 0 auto;
flex: 1 0 auto;
background-size: contain;
background-position: top right;
background-repeat: no-repeat;
}

.floatingButtonsItem ul li div{
	transform: scale(0.4) translateY(40px);
	-moz-transform: scale(0.4) translateY(40px);
	-webkit-transform: scale(0.4) translateY(40px); 
	opacity: 0;
	transition: 400ms all;
	-webkit-transition: 400ms all;
	-moz-transition: 400ms all;
	margin-bottom: -10px;
}

.floatingButtonsItem:hover ul li div{
	transform: scale(1) translateY(0px);
	-moz-transform: scale(1) translateY(0px);
	-webkit-transform: scale(1) translateY(0px);
	opacity: 1;
}


* {
	outline: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

a:hover, a:visited {
	text-decoration: none !important;
}

.showPanel{
	-webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}

th{
	display: table-cell !important;
}

/**
*** Material Animations
**/


.materialScaleInitial, .pullInitial{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.materialScaleInitial{
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform-origin: 50% 10%;
	-webkit-transform-origin: 50% 10%;
	-moz-transform-origin: 50% 10%;
}

.materialScale{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}

.pullInitial{
	margin-top: 500px !important;
}
.pull{
	margin-top: -150px !important;
}
.disabled{
	background-color: #DFDFDF !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	color: #9F9F9F;
	cursor: default;
}

.disabled:hover{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
